$sidebarTopStartBgColor:#136a8a;
$sidebarTopEndBgColor:#267871;
$sidebarAnchorColor:#ffffff;
$menuitemActiveColor:#2A92B8;
$rootMenuitemActiveIconColor:#ffffff;
$menuitemBadgeBgColor:#FEB10F;
$menuitemBadgeTextColor:#333333;
$horizontalLayoutTopbarTextColor:#ffffff;
$horizontalLayoutTopbarTextHoverColor:#ACDAEB;

//tab bar
$tabPanelTextColor: #d9e0e6;
$tabPanelItemBgColor: #002b4e0a; //Do not replace (transparent Color)
$tabPanelItemBorderColor: #ffffff30; //Do not replace (transparent Color)
$tabPanelItemActiveBgColor: #0000003d; //Do not replace (transparent Color)
$tabPanelItemActiveTextColor: #ffffff;
$tabPanelItemActiveBorderColor: #ffffff5e; //Do not replace (transparent Color)

@import '../../sass/layout/_layout';