$sidebarTopStartBgColor:#5f2c82;
$sidebarTopEndBgColor:#49a09d;
$sidebarAnchorColor:#ffffff;
$menuitemActiveColor:#714490;
$rootMenuitemActiveIconColor:#ffffff;
$menuitemBadgeBgColor:#B6C140;
$menuitemBadgeTextColor:#333333;
$horizontalLayoutTopbarTextColor:#F2E5FB;
$horizontalLayoutTopbarTextHoverColor:#ffffff;

//tab bar
$tabPanelTextColor: #d9e0e6;
$tabPanelItemBgColor: #002b4e0a; //Do not replace (transparent Color)
$tabPanelItemBorderColor: #ffffff30; //Do not replace (transparent Color)
$tabPanelItemActiveBgColor: #0000003d; //Do not replace (transparent Color)
$tabPanelItemActiveTextColor: #ffffff;
$tabPanelItemActiveBorderColor: #ffffff5e; //Do not replace (transparent Color)

@import '../../sass/layout/_layout';