$sidebarTopStartBgColor:#184e68;
$sidebarTopEndBgColor:#57ca85;
$sidebarAnchorColor:#ffffff;
$menuitemActiveColor:#57ca85;
$rootMenuitemActiveIconColor:#ffffff;
$menuitemBadgeBgColor:#E0608A;
$menuitemBadgeTextColor:#333333;
$horizontalLayoutTopbarTextColor:#CDEAD8;
$horizontalLayoutTopbarTextHoverColor:#ffffff;

//tab bar
$tabPanelTextColor: #d9e0e6;
$tabPanelItemBgColor: #002b4e0a; //Do not replace (transparent Color)
$tabPanelItemBorderColor: #ffffff30; //Do not replace (transparent Color)
$tabPanelItemActiveBgColor: #0000003d; //Do not replace (transparent Color)
$tabPanelItemActiveTextColor: #ffffff;
$tabPanelItemActiveBorderColor: #ffffff5e; //Do not replace (transparent Color)

@import '../../sass/layout/_layout';