$sidebarTopStartBgColor:#00b09b;
$sidebarTopEndBgColor:#96c93d;
$sidebarAnchorColor:#ffffff;
$menuitemActiveColor:#96c93d;
$rootMenuitemActiveIconColor:#ffffff;
$menuitemBadgeBgColor:#FF8853;
$menuitemBadgeTextColor:#333333;
$horizontalLayoutTopbarTextColor:#EAF3DB;
$horizontalLayoutTopbarTextHoverColor:#ffffff;

//tab bar
$tabPanelTextColor: #d9e0e6;
$tabPanelItemBgColor: #002b4e0a; //Do not replace (transparent Color)
$tabPanelItemBorderColor: #ffffff30; //Do not replace (transparent Color)
$tabPanelItemActiveBgColor: #0000003d; //Do not replace (transparent Color)
$tabPanelItemActiveTextColor: #ffffff;
$tabPanelItemActiveBorderColor: #ffffff5e; //Do not replace (transparent Color)

@import '../../sass/layout/_layout';